// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
// // @import './fonts';

@import '../fonts/fonts';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');



$main-font: 'Circe', sans-serif;
$primary-font: 'Poppins', sans-serif;

$primary-text-color: #DAB7B1;
$secondary-text-color: #8E4335;

$accent-online: #938BA1;
$accent-offline: #B2E4DB;

$white: #fff;
$black: #000;
$black-light: #7D7D8E;
;
$primary-bg-color: #021b26;
$secondary-bg-color: #8E4335;

$active-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);

$transition: 0.3s ease-in-out;
$radius-s: 10px;



/* Breakpoints */
$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;