Options -MultiViews
    RewriteEngine On

<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|jpeg|png|gif|ico|svg)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>
    
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>
</IfModule>

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA,L]