@use '../../shared/styles/variables' as *;

.btn {
  padding: 13px 28px;
  border: none;
  border-radius: 60px;

  color: var(--primary-text-color);
  border: 1px solid  $primary-text-color;
  background-color: transparent;

  transition: all $transition;

  &:hover{
	color: $primary-bg-color;
	background-color: $primary-text-color;

  }
}
