@use '../../shared/styles/variables' as *;

.wrapper {
  padding-top: 60px;
  padding-bottom: 100px;
}

.info_hero {
  padding: 20px 0 30px;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_text {
  font-size: 16px;
  font-weight: 400;
  max-width: 450px;
  margin-bottom: 20px;

  .name_accent {
    font-weight: 800;
    margin-left: 10px;
  }
}

.name {
  font-size: 64px;
  font-weight: 800;
  max-width: 600px;
  text-transform: uppercase;
  animation: lighting 2000ms alternate infinite ease;
  // text-shadow: 0px 3px 5px rgba(231, 180, 168, 0.47);
}

@keyframes lighting{
  0%,85%{
      color: $primary-text-color;
      text-shadow: none;
  }
  100%{
      color: #f6c2b6;
      text-shadow: 0 0 5px #f6c2b6, 0 0 3px #f6c2b6;
  }
}

.text {
  font-family: $primary-font;
  text-align: center;
  transform: translateY(100px);
  font-size: 52px;
  font-weight: 400;
  max-width: 250px;
  margin-right: auto;
  transform: translate(-150px, 180px);
  position: relative;
  z-index: 2;
  text-shadow: 0px 3px 5px rgba(231, 180, 168, 0.47);
}

.btn_group {
  transform: translate(10px, 0) rotate(-90deg);
}

@media screen and (max-width: 767px) {
  .name_text {
    font-size: 18px;
    font-weight: 400;
    max-width: 250px;
    margin-bottom: 20px;

    .name_accent {
      font-weight: 800;
      margin-left: 10px;
    }
  }

  .info_hero {
    display: block;
  }

  .name {
    font-size: 36px;
    font-weight: 800;
    max-width: 250px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .text {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0;

    .text_accent {
      display: block;
      font-weight: 800;
    }
  }
}


.heroImg{
  position: absolute;
  top: -20px;
  right: 100px;

  pointer-events: none;

  mask-image: linear-gradient(to top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.8) 50%);
   -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%);
}
