@import '../../shared/styles/variables';

.wrapper {
	position: fixed;
	right: 50px;
	top: 100px;
	z-index: 2;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	width: 80px;
	height: 80px;
	border-radius: 50%;

	background-color: $secondary-text-color;
	box-shadow: $active-shadow;

	transition: all $transition;

	&:hover{
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);

	}
	@media screen and (max-width: 767px) {
		width: 60px;
		height: 60px;
		
	}
	.icon{
		font-size: 40px;
		@media screen and (max-width: 767px) {
			font-size: 30px;
			
		}
	}
}


