@import '../../shared/styles/variables';


.buy {
	display: inline-block;
	text-decoration: none;
	padding: 13px 18px;
	border: none;
	border-radius: 60px;

	color: $primary-text-color;
	border: 1px solid $primary-text-color;
	background-color: transparent;

	transition: all $transition;

	&:hover {
		color: $primary-bg-color;
		background-color: $primary-text-color;
	}

	@media screen and (max-width: 776px) {
		width: 100%;

		&:first-child{
			margin-bottom: 10px;
		}
	}
}


.buttons{
	display: flex;
	justify-content: space-between;
	margin-top: auto;

	@media screen and (max-width: 776px) {
		flex-direction: column;
	}
}